@charset "utf-8";

body{ margin: 0 auto;}
i {font-size: 30px; color: #333;}

/* 여기 header */
header{width: 1200px; height: 250px; margin: 0 auto;}
#leftbox{width: 100px; height: 70px; float: left; margin: 5px 0 20px 0;}
#leftbox i {font-size: 25px; margin: 20px 0 0 10px;}
#leftbox .fa-heart {margin: 20px 0 0 20px;}
#leftbox i:hover{cursor: pointer; color: indianred;}

#centerbox{width: 1000px; height: 70px; float: left; margin: 5px auto 20px 0; text-align: center;}

#rightbox{width: 100px; height: 70px; float: right; margin: 5px 0 20px 0;}
#rightbox i {font-size: 25px; margin: 20px 10px;}
#rightbox i:hover{cursor: pointer; color: indianred;}

header hr{clear: both;}

#menubar {width: 1200px; height: 50px;}
#menubar ul {font-size: 24px; font-weight: bold; font-family: "휴먼엑스포";}
#menubar ul li {float: left; margin: 13px 0 0 40px;}
#menubar ul li:nth-child(1){margin: 13px 0 0 120px;}
#menubar ul li a:hover{color: indianred}

#menuetc {width: 1200px; height: 70px;}
#menuetc ul {font-size: 30px; font-weight: bold; font-family: "휴먼엑스포";}
#menuetc ul li {float: left; margin: 10px; margin: 20px 0 0 110px;}
#menuetc ul li img {width: 30px; height: 30px;float: left; margin: 0 10px 0 0;}
#menuetc ul li:nth-child(1) {margin: 20px 0 0 50px;}

/* 여기부터 footer */
footer {width: 100%; height: 520px; margin: 0 auto; background-color: #333}

.footbox {width: 1900px; height: 520px;}

.fo1 {width: 600px; height: 520px; float: left;}
.fo1 img {border: 1px solid #fff; margin: 40px 0 0 50px;}
.ftd {width: 350px; height: 80px; margin: 10px 0 0 50px;}
.ftd p {font-size: 16px; color: #fff;}

.ftd2 {width: 600px; height: 160px; float: left;}
.fa-map-location-dot{float: left; margin: 10px 0 0 50px; color: #fff;}
.ftd2 p {margin: 20px 0 0 20px; float: left; color: #fff;}
.fa-phone {float: left; clear: both; margin: 20px 0 0 50px; color: #fff;}
.fa-envelope-open {float: left; clear: both; margin: 20px 0 0 50px; color: #fff;}

.ftd3 {width: 600px; height: 140px; float: left;}
.fa-twitter {margin: 10px 0 0 50px; color: #fff;}
.fa-facebook-f {margin: 10px 15px; color: #fff;}
.fa-blog {margin: 10px 15px; color: #fff;}
.fa-linkedin {margin: 10px 15px; color: #fff;}
.fa-instagram {margin: 10px 15px; color: #fff;}
.ftd3 i:hover {cursor: pointer; color: indianred;}
.ftd3 h2 {margin: 20px 0 0 50px; color: #fff; font-size: 40px;}

.fo2 {width: 1300px; height: 400px; margin: 0 auto; float: right;}
#fo21 {width: 430px; height: 100%; float: left;}
#fo21 figure {margin: 80px 0 0 30px;}
#fo21 figcaption {font-size: 24px; font-family: "휴먼엑스포"; margin: 0 0 15px; color: #fff;}
#fo21 li {margin: 0 0 20px; color: #fff;}
#fo21 li:hover {color: indianred; cursor: pointer;}

#fo22 {width: 430px; height: 400px; float: left;}
#fo22 figure {margin: 80px 0 0 30px;}
#fo22 figure {margin: 80px 0 0 30px;}
#fo22 figcaption {font-size: 24px; font-family: "휴먼엑스포"; margin: 0 0 15px; color: #fff;}
#fo22 li {margin: 0 0 20px; color: #fff;}
#fo22 li:hover {color: indianred; cursor: pointer;}

#fo23 {width: 430px; height: 400px; float: left;}
#fo23 figure {margin: 80px 0 0 30px;}
#fo23 figure {margin: 80px 0 0 30px;}
#fo23 figcaption {font-size: 24px; font-family: "휴먼엑스포"; margin: 0 0 15px; color: #fff;}
#fo23 li {margin: 0 0 20px; color: #fff;}
#fo23 li:hover {color: indianred; cursor: pointer;}

#fo24 {width: 800px; height: 100px; float: right;}
#fo24 p {font-size: 14px; margin: 40px 0 0 20px; color: #fff;}