@charset "utf-8";

#slider {width: 100%; height: 650px; background-image: url(../img/Main/slider.jpg); background-repeat: no-repeat; background-position: center; margin: 0 auto;}
.content {width: 1200px; height: 100%; margin: 0 auto;}
.sltextbox {width: 600px; height: 600px; float: right; margin: 25px 0; font-family: "휴먼엑스포";}
.sltextbox h2 {margin: 100px 0 0 10px; font-size: 28px;}
.sltextbox h1 {margin: 100px 0 0 10px; font-size: 45px;}
.sltextbox a {float: right; margin: 80px 30px; border: 2px solid #333; padding: 10px 5px; display: block;}
.sltextbox a:hover{cursor: pointer; color: indianred;}

#si{width: 1200px; height: 450px; margin: 0 auto;}
.si1 {width: 590px; height: 390px; float: left; margin: 30px 0; position: relative;}
.sil img {width: 100%; height: 100%; float: left;}
.si1 .fptext {width: 480px; height: 60px; position: absolute; top: 30px; left: 20px;}
.fptext h1{font-size: 50px; font-family: "휴먼엑스포"; color: #eee;}
.si1:hover:before{content:""; width:100%; height:100%; position:absolute; top:0; left:0; background: #fff; opacity:0.3; cursor: pointer;}


.si2 {width: 590px; height: 390px; float: right; margin: 30px 0; position: relative;}
.si2 img {width: 100%; height: 100%; float: left;}
.si2 .si2text {width: 300px; height: 70px; position: absolute; top: 30px; left: 50px;}
.si2 h1 {font-family: "휴먼엑스포";}
.si2 a {border: 2px solid #333; padding: 10px 5px; position: absolute; top: 60px; right: 80px; display: block; font-weight: bold;}
.si2 a:hover {color: indianred; cursor: pointer;}

#ba {width: 1200px; height: 660px; margin: 0 auto;}
.b1 {width: 270px; height: 585px; float: left; margin: 30px 0; background-image: url(../img/Main/deco.jpg); position: relative; overflow: hidden;}
.b1d {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #333; opacity: 0; transition: all .6s linear;}
.b1p {position: absolute; top: 0; left: 0; width: 270px; height: 585px; opacity: 0; transform: scale(2); transition: all .3s linear;}
.b1p h1 {margin: 80px 0 50px 5px; font-size: 40px; color: #fff; font-family: "휴먼엑스포"; font-weight: lighter;}
.b1p p {margin: 0 0 15px 5px; color: #fff; font-family: "휴먼엑스포"; font-weight: lighter;}
.b1:hover .b1d {opacity: 0.4;}
.b1:hover .b1p {opacity: 1; transform: scale(1);}
.b1p a {float: right; border: 2px solid #fff; color: #fff; padding: 10px 5px; margin: 20px 5px; font-family: "휴먼엑스포";}
.b1p a:hover {color: indianred;}

.b2 {width: 285px; height: 585px; float: left; margin: 30px 0 0 30px; position: relative;}
.b2 img[alt="bot"] {width: 285px; height: 455px; margin: 0 auto;}
.b2 h4 {font-family: "휴먼엑스포"; margin: 20px 0;}
.b2 img[alt="star4"] {width: 120px; height: 30px; margin: 5px 0 5px;}
.b2 h2 {font-family: "휴먼엑스포";}
.b2 .opa {width: 285px; height: 455px; background-color: rgba(255, 255, 255,0); position: absolute; left: 0; top: 0; text-align: center; display: flex; justify-content: center; align-items: center;}
.b2 .opa:hover {background-color: rgba(255, 255, 255,0.6);}
.b2 .opa:hover i {opacity: 1;}
.opa i {margin-right: 20px; color: black; opacity: 0;}
.opa i:hover {cursor: pointer; color: indianred;}

.b3 {width: 285px; height: 585px; float: left; margin: 30px 0 0 25px; position: relative;}
.b3 img[alt="bb"] {width: 285px; height: 455px; margin: 0 auto;}
.b3 h4 {font-family: "휴먼엑스포"; margin: 20px 0;}
.b3 img[alt="star4"] {width: 120px; height: 30px; margin: 5px 0 5px;}
.b3 h2 {font-family: "휴먼엑스포";}
.b3 .opa {width: 285px; height: 455px; background-color: rgba(255, 255, 255,0); position: absolute; left: 0; top: 0; text-align: center; display: flex; justify-content: center; align-items: center;}
.b3 .opa:hover {background-color: rgba(255, 255, 255,0.6);}
.b3 .opa:hover i {opacity: 1;}
.opa i {margin-right: 20px; color: black; opacity: 0;}
.opa i:hover {cursor: pointer; color: indianred;}

.b4 {width: 270px; height: 585px; float: right; margin: 30px 0; position: relative;}
.b4 img[alt="gd"] {width: 270px; height: 455px; margin: 0 auto;}
.b4 h4 {font-family: "휴먼엑스포"; margin: 20px 0;}
.b4 img[alt="star4"] {width: 120px; height: 30px; margin: 5px 0 5px;}
.b4 h2 {font-family: "휴먼엑스포";}
.b4 .opa {width: 285px; height: 455px; background-color: rgba(255, 255, 255,0); position: absolute; left: 0; top: 0; text-align: center; display: flex; justify-content: center; align-items: center;}
.b4 .opa:hover {background-color: rgba(255, 255, 255,0.6);}
.b4 .opa:hover i {opacity: 1;}
.opa i {margin-right: 20px; color: black; opacity: 0;}
.opa i:hover {cursor: pointer; color: indianred;}

#lo {width: 1200px; height: 290px; margin: 0 auto; position: relative;}
.lolo {width: 100%; position: absolute; top: 75px; left: 0; border-style: solid none solid none; border-color: #edeeee; border-width: thin;}
.lolo img {width: 200px; height: 100px; float: left;}

#po {width: 1200px; height: 545px; margin: 0 auto;}

.p1 {width: 270px; height: 495px; float: left; margin: 30px 0; position: relative;}
.p1 img[alt="wcha"] {width: 270px; height: 385px; margin: 0 auto;}
.p1 h4 {font-family: "휴먼엑스포"; margin: 10px 0;}
.p1 img[alt="star4"] {width: 120px; height: 25px; margin: 5px 0 5px;}
.p1 h2 {font-family: "휴먼엑스포";}
.p1 .opa {width: 270px; height: 385px; background-color: rgba(255, 255, 255,0); position: absolute; left: 0; top: 0; text-align: center; display: flex; justify-content: center; align-items: center;}
.p1 .opa:hover {background-color: rgba(255, 255, 255,0.6);}
.p1 .opa:hover i {opacity: 1;}
.opa i {margin-right: 20px; color: black; opacity: 0;}
.opa i:hover {cursor: pointer; color: indianred;}

.p2 {width: 285px; height: 495px; float: left; margin: 30px 0 0 30px; position: relative;}
.p2 img[alt="bok"] {width: 270px; height: 385px; margin: 0 auto;}
.p2 h4 {font-family: "휴먼엑스포"; margin: 10px 0;}
.p2 img[alt="star4"] {width: 120px; height: 25px; margin: 5px 0 5px;}
.p2 h2 {font-family: "휴먼엑스포";}
.p2 .opa {width: 285px; height: 385px; background-color: rgba(255, 255, 255,0); position: absolute; left: 0; top: 0; text-align: center; display: flex; justify-content: center; align-items: center;}
.p2 .opa:hover {background-color: rgba(255, 255, 255,0.6);}
.p2 .opa:hover i {opacity: 1;}
.opa i {margin-right: 20px; color: black; opacity: 0;}
.opa i:hover {cursor: pointer; color: indianred;}

.p3 {width: 285px; height: 495px; float: left; margin: 30px 0 0 30px; position: relative;}
.p3 img[alt="bokc"] {width: 270px; height: 385px; margin: 0 auto;}
.p3 h4 {font-family: "휴먼엑스포"; margin: 10px 0;}
.p3 img[alt="star4"] {width: 120px; height: 25px; margin: 5px 0 5px;}
.p3 h2 {font-family: "휴먼엑스포";}
.p3 .opa {width: 285px; height: 385px; background-color: rgba(255, 255, 255,0); position: absolute; left: 0; top: 0; text-align: center; display: flex; justify-content: center; align-items: center;}
.p3 .opa:hover {background-color: rgba(255, 255, 255,0.6);}
.p3 .opa:hover i {opacity: 1;}
.opa i {margin-right: 20px; color: black; opacity: 0;}
.opa i:hover {cursor: pointer; color: indianred;}

.p4 {width: 270px; height: 495px; float: right; margin: 30px 0; background-image: url(../img/Main/FURNITURE_orign.jpg); background-repeat: no-repeat; position: relative; overflow: hidden;}
.p4d {position: absolute; top: 0; left: 0; width: 270px; height: 495px; background-color: #333; opacity: 0; transition: all .6s linear;}
.p4p {position: absolute; top: 0; left: 0; width: 270px; height: 495px; opacity: 0; transform: scale(2); transition: all .3s linear;}
.p4p h1 {margin: 80px 0 50px 5px; font-size: 40px; color: #fff; font-family: "휴먼엑스포"; font-weight: lighter;}
.p4p p {margin: 0 0 15px 5px; color: #fff; font-family: "휴먼엑스포"; font-weight: lighter;}
.p4:hover .p4d {opacity: 0.4;}
.p4:hover .p4p {opacity: 1; transform: scale(1);}
.p4p a {float: right; border: 2px solid #fff; color: #fff; padding: 10px 5px; margin: 20px 5px; font-family: "휴먼엑스포";}
.p4p a:hover {color: indianred;}

section{width: 100%; height: 575px; margin: 0 auto; background-image: url(../img/Main/chair_ori.jpg); background-size: cover; background-position: center;}
.etc {width: 1200px; height: 100%; margin: 0 auto; position: relative;}
.setextbox {width: 700px; height: 370px; margin: 100px 0; font-family: "휴먼엑스포"; position: absolute; top: 10px; right: 0; background-color: #fff; border-radius: 20px;}
.setextbox h1 {margin: 80px 0 0 60px; font-size: 24px; color: gray;}
.setextbox h1 span {font-size: 40px; color: #e2ec8e; margin: 0 30px 0 0;}
.setextbox h2 {margin: 20px 0 0 60px; font-size: 20px; color: gray;}
.setextbox h3 {margin: 10px 0 0 60px; font-size: 16px; color: #dcdcdc; font-weight: lighter;}
.setextbox a {float: left; margin: 15px 0 0 60px; padding: 10px 15px; display: block; border: none; background-color: #e2ec8e; color: #fff; border-radius: 5px; font-family: "휴먼엑스포";}
.setextbox a:hover{cursor: pointer; color: indianred;}

#to {width: 1200px; height: 90px; margin: 0 auto; position: relative;}
.toi {width: 1200px; height: 60px; position: absolute; top: 15px; left: 0; border-style: solid none solid none; border-width: thin;}
.toi h1 {font-family: "휴먼엑스포"; margin: 12px 0 0 10px;}
.toim {width: 100px; height: 60px; margin: 10px 10px; position: absolute; top: -10px; right: 10px;}
.fa-chevron-left {margin: 15px 0 0 20px;}
.fa-chevron-right {margin: 15px 10px;}
.toim i:hover {color: indianred;}

#hi{width: 1200px; height: 470px; margin: 0 auto;}

.hi1 {width: 375px; height: 210px;  float: left; margin: 10px 0; border: 3px solid #eee;}
.hi1 img[alt="bo"] {width: 140px; height: 100%; float: left;}
.hi1 h4 {font-family: "휴먼엑스포"; float: left; margin: 30px 0 0 20px;}
.hi1 img[alt="star4"] {width: 120px; height: 30px; float: left; margin: 20px 0 0 20px;}
.hi1 h2 {font-family: "휴먼엑스포"; float: left; margin: 20px 0 0 20px;}

.hi2 {width: 375px; height: 210px; margin: 10px 0 0 25px; float: left; border: 3px solid #eee;}
.hi2 img[alt="bo"] {width: 140px; height: 100%; float: left;}
.hi2 h4 {font-family: "휴먼엑스포"; float: left; margin: 30px 0 0 20px;}
.hi2 img[alt="star4"] {width: 120px; height: 30px; float: left; margin: 20px 0 0 20px;}
.hi2 h2 {font-family: "휴먼엑스포"; float: left; margin: 20px 0 0 20px;}

.hi3 {width: 375px; height: 210px; margin: 10px 0 0 25px; float: left; border: 3px solid #eee;}
.hi3 img[alt="bo"] {width: 140px; height: 100%; float: left;}
.hi3 h4 {font-family: "휴먼엑스포"; float: left; margin: 30px 0 0 20px;}
.hi3 img[alt="star4"] {width: 120px; height: 30px; float: left; margin: 20px 0 0 20px;}
.hi3 h2 {font-family: "휴먼엑스포"; float: left; margin: 20px 0 0 20px;}

.hi4 {width: 375px; height: 210px; float: left; margin: 10px 0; clear: both; border: 3px solid #eee;}
.hi4 img[alt="bo"] {width: 140px; height: 100%; float: left;}
.hi4 h4 {font-family: "휴먼엑스포"; float: left; margin: 30px 0 0 20px;}
.hi4 img[alt="star4"] {width: 120px; height: 30px; float: left; margin: 20px 0 0 20px;}
.hi4 h2 {font-family: "휴먼엑스포"; float: left; margin: 20px 0 0 20px;}

.hi5 {width: 375px; height: 210px; float: left; margin: 10px 0 0 25px; border: 3px solid #eee;}
.hi5 img[alt="bo"] {width: 140px; height: 100%; float: left;}
.hi5 h4 {font-family: "휴먼엑스포"; float: left; margin: 30px 0 0 20px;}
.hi5 img[alt="star4"] {width: 120px; height: 30px; float: left; margin: 20px 0 0 20px;}
.hi5 h2 {font-family: "휴먼엑스포"; float: left; margin: 20px 0 0 20px;}

.hi6 {width: 375px; height: 210px; float: left; margin: 10px 0 0 25px; border: 3px solid #eee;}
.hi6 img[alt="bo"] {width: 140px; height: 100%; float: left;}
.hi6 h4 {font-family: "휴먼엑스포"; float: left; margin: 30px 0 0 20px;}
.hi6 img[alt="star4"] {width: 120px; height: 30px; float: left; margin: 20px 0 0 20px;}
.hi6 h2 {font-family: "휴먼엑스포"; float: left; margin: 20px 0 0 20px;}


#in {width: 100%; height: 695px; margin: 0 auto; position: relative;}
.inshead {width: 490px; height: 100px; position: absolute; top: 50px; left: 700px;}
.inshead img {width: 80px; height: 60px; margin: 0 0 0 215px;}
.inshead h1 {font-family: "휴먼엑스포"; margin: 10px 0 0 30px; font-size: 40px;}

.insband {width: 100%; height: 305px; position: absolute; top: 185px;}
.insband img {width: 1903px;}

.infu {width: 100%; height: 200px; position: absolute; top: 495px;}
.infubox {width: 1900px; height: 200px;}
.infu h1 {font-family: "휴먼엑스포"; font-size: 60px; float: left; margin: 40px 0 0 40px;}
.infu h4 {font-family: "휴먼엑스포"; float: left; margin: 10px 0 0 40px; clear: both; font-size: 20px; color: #777;}
.inse {float: right; width:500px; height:50px; margin: 0 50px;}
input[type=text] { padding: 9px 120px; margin-top: 8px; font-size: 16px; border: 1px solid #333;}
.inse button { float: right; padding: 4px; margin-top: 8px; margin-right: 16px;; font-size: 13px;  border: none; cursor: pointer; background-color: #fff;}
.inse button:hover i{ color: indianred;}
input[type=text] { border: 1px solid #333;}
