@charset "utf-8";

body{font-family: "맑은 고딕";}

#slider {width: 1200px; height: 450px; margin: 0 auto; text-align: center;}
#slider h1 {font-size: 60px; margin: 0 0 20px 0;}

.slidbu {width: 100%; height: 160px; margin: 0 auto;}
.slidbu ul {display: flex; flex-flow: row wrap; justify-content: center;}
.slidbu ul li {width: 24%; height: 80px; border: 1px solid #666; line-height: 80px;}
.slidbu li:hover {scale: 0.98; background-color: aliceblue;}
.slidbu li:nth-of-type(7):hover {scale: 1; background-color: #fff;}
.slidbu li:nth-of-type(8):hover {scale: 1; background-color: #fff;}

#checkbox {width: 96%; height: 50px; border: 1px solid #333; margin: 10px 0 0 24px; line-height: 50px;}
#checkbox p {font-size: 16px; float: left;margin-left: 10px; font-weight: bold; margin-right: 30px;}
#checkbox input[type="checkbox"] {display: none; margin-left: 10px;}
#checkbox input[type="checkbox"] + label {display: inline-block; width: 25px; height: 25px; border: 1px solid #333; position: relative; line-height: initial; vertical-align: middle;}
#checkbox input[id="check1"]:checked + label::after {content:'✔'; font-size: 20px; width: 25px; height: 25px; text-align: center; position: absolute; left: 0; top:0;}
#checkbox input[id="check2"]:checked + label::after {content:'✔'; font-size: 20px; width: 25px; height: 25px; text-align: center; position: absolute; left: 0; top:0;}
#checkbox input[id="check3"]:checked + label::after {content:'✔'; font-size: 20px; width: 25px; height: 25px; text-align: center; position: absolute; left: 0; top:0;}
#checkbox input[id="check4"]:checked + label::after {content:'✔'; font-size: 20px; width: 25px; height: 25px; text-align: center; position: absolute; left: 0; top:0;}
#checkbox input[id="check5"]:checked + label::after {content:'✔'; font-size: 20px; width: 25px; height: 25px; text-align: center; position: absolute; left: 0; top:0;}
#checkbox span {vertical-align: middle;margin-right:  130px;}
#checkbox span:nth-of-type(5) {margin-right: 0px;}

#searchbar {width: 96%; height: 50px; border-style: none solid solid solid; border-color: #333; margin-left: 24px; line-height: 50px; border-width: 1px; float: left; margin-top: -5px;}
#searchbar p {font-size: 16px; float: left; font-weight: bold; margin-right: 15px; margin-left: 10px;}
.searchbar_monney {width: 600px; height: 100%; float: left; margin-left: 14px;}
input[type=text] {padding: 4px 0px; font-size: 16px; border: 1px solid #333; text-align: center;}
#searchbar a {border: none; cursor: pointer; background-color: #666; display: block; width: 60px; height: 28px; float: right; margin: 12px 0 0 -50px; line-height: 30px; color: #fff;}
#searchbar a:hover{color: indianred;}
input[type=text] { border: 1px solid #333;}

#reset {width: 96%; height: 50px; margin-top: 60px; margin-left: 24px;border: 1px solid #333;}
#reset a {width: 60px; height: 28px; float: right; background: #666; display: block; margin: 12px 20px 0 0; line-height: 28px; color: #fff;}
#reset a:hover {color: indianred;}

section {width: 1200px; height: 2500px; margin: 0 auto;}

.sehead {width: 100%; height: 50px; margin: 0 auto;}
.sehep {width: 300px; height: 100%; float: left;}
.sehep p {margin-left: 24px;}

.sehesc {width: 150px; height: 100%; float: right;}
.sehesc select {padding: 3px 10px;}

.seheul {width: 500px; height: 100%; float: right; margin-right: 10px;}
.seheul li {float: right; margin-right: 10px;}
.seheul a:hover {color: indianred;}

#secimgbox {width: 100%; height: 2400px; display: flex; flex-flow: row wrap; justify-content: center;}
article {width: 22%; height: 450px; margin: 1%; position: relative;}
article img {width: 96%; height: 320px; margin: 2%;}
article h3 {font-size: 16px; margin: 2%;}
article h2 {font-size: 20px; margin: 20px 0 0 2%; float: left;}
article del {font-size: 14px; color: #666;}
article img[alt="star4"] {width: 100px; height: 30px; margin: 20px 0 0 10px;}
article p {border: 1px solid tomato; margin-left: 2%; width: 45px; height: 20px; text-align: center; color: tomato; font-size: 14px;}
.opa {width: 96%; height: 320px; background-color: rgba(255, 255, 255,0); position: absolute; left: 2%; top: 1%; text-align: center; display: flex; justify-content: center; align-items: center;}
article .opa:hover {background-color: rgba(255, 255, 255,0.6);}
article .opa:hover i {opacity: 1;}
.opa i {margin-right: 20px; color: black; opacity: 0;}
.opa i:hover {cursor: pointer; color: indianred;}


#pagemove {width: 1200px; height: 100px; margin: 0 auto; display: flex; flex-direction: row; justify-content: center; align-items: center;}
#pagemove i {margin-left: 20px; margin-right: 20px;}
#pagemove a {border: 2px solid #333; width: 30px; text-align: center; margin: 0 10px 0 10px; overflow: hidden;}
#pagemove a:hover {color: indianred;}
#pagemove i:hover {cursor: pointer; color: indianred;}