@charset "utf-8";

#slider {width: 1200px; height: 700px; margin: 0 auto;}

.slider1 {width: 50%; height: 700px; float: left;}
#poto1 {width: 500px; height: 500px; float: right; margin: 50px 50px;}
#poto2 {width: 500px; height: 500px; float: right; margin: 50px 50px; display: none;}
#poto3 {width: 500px; height: 500px; float: right; margin: 50px 50px; display: none;}
#poto4 {width: 500px; height: 500px; float: right; margin: 50px 50px; display: none;}
#poto5 {width: 500px; height: 500px; float: right; margin: 50px 50px; display: none;}

.slider1 img {width: 100%; height: 100%; margin: 0 auto;}

#slbt {width: 500px; height: 100px; float: right; margin: -30px 50px 0 0;}
#slbt button {width: 85px; height: 85px; border: 1px solid #fefefe;}
#slbt img {width: 85px; height: 85px;}
.bu1 {margin: 0 15px 0 0; float: left; background-image: url(../IMG/Main/sub_chair1.jpg); background-size: cover;}
.bu2 {margin: 0 15px 0 0; background-image: url(../IMG/Main/sub_chair2.jpg); background-size: cover;}
.bu3 {margin: 0 15px 0 0; background-image: url(../IMG/Main/sub_chair3.jpg); background-size: cover;}
.bu4 {margin: 0 15px 0 0; background-image: url(../IMG/Main/sub_chair4.jpg); background-size: cover;}
.bu5 {float: right; background-image: url(../IMG/Main/sub_chair5.jpg); background-size: cover;}

.slider2 {width: 50%; height: 700px; float: right;}
#sbox {width: 90%; height: 500px; margin: 50px 10px;}
#sbox hr { margin: 10px 0 10px 0; font-family: "맑은 고딕"; font-weight: bold;}
#sbox h3 {font-family: "맑은 고딕";}
#sbox select {float:left; margin: -24px 0 0 50px;}
#sbox .star {float: left;}
#sbox button {float: right; margin: 0px 0 0 0px; border: none; display: block; padding: 20px 60px;}
.sli2bu1 {background-color: tomato; color: #fff; cursor: pointer;}
.sli2bu2 {background-color: #1d0966; color: #fff; cursor: pointer;}
#sbox span {font-family: "맑은 고딕"; font-weight: bold; font-size: 20px;}

#details {width: 100%; height: 100%;}

#mebar {width: 1200px; height: 80px; margin: 0 auto; display: flex; position: sticky; top: 4px; background-color: #fff;}
#mebar a {border: 1px solid #333; display: block; flex-grow: 1; height: 80px; font-size: 16px; background-color: #fff; margin-right: 5px; text-align: center; padding: 25px 0;}
#mebar a:hover {background-color: #e3e3e3;}

#product_sti {width: 1200px; height: 80px;}

#product {width: 1200px; height: 600px; margin: 0 auto;}
#product h1 {text-align: center; margin: 10px 0 10px 0;}
#product h2 {text-align: center; color: #e3e3e3; margin: 0 0 10px 0;}
.proimgbox {width: 100%; height: 400px; float: left;}
.proimgbox img {width: 280px; height: 280px; float: left;}

#etc1 {width: 280px; height: 400px; float: left; text-align: center; margin: 20px 0;}
#etc1 h5 {color: tomato;}

#etc2 {width: 280px; height: 400px; float: left; text-align: center; margin: 20px 25px 0 25px;}
#etc2 h5 {color: tomato;}

#etc3 {width: 280px; height: 400px; float: left; text-align: center; margin: 20px 0 0 0;}
#etc3 h5 {color: tomato;}

#etc4 {width: 280px; height: 400px; float: right; text-align: center; margin: 20px 0;}
#etc4 h5 {color: tomato;}

section {width: 1200px; height: 600px; margin: 0 auto;}
#lbox {width: 54%; height: 100%; float: left; }
section img {width: 1000px; float: right;height: 600px;}
.secbox1 {width: 44%; height: 450px; float: right; margin: 60px 0 0 20px; color: #333;}


#etc {width: 1200px; height: 700px; margin: 0 auto;}
#etc img[alt="cha1"] {width: 600px; height: 400px; float: left; margin: 80px 0;}
#etc img[alt="cha_etc"] {width: 600px; height: 400px; float: right; margin: 80px 0;}
#etc h2 {margin: 0 0 0 10px;}
#etc p {margin: 0 0 0 10px;}

#tablebox1_sti {width: 1200px; height: 50px;}

#tablebox1 {width: 1000px; height: 600px; margin: 10px auto 0px; display: block; border-top: 1px solid #ddd;}
#tablebox1 > h4 {text-align: left; margin: 40px 0 0 0; font-size: 35px;}
#tablebox1 > table {display: block; margin: 10px 0 0 0; line-height: 30px;}
#tablebox1 > table th {font-size: 14px; text-align: left; width: 200px; padding: 0 0 0 20px; background-color: #ddd;}
#tablebox1 > table td {font-size:14px; text-align:left; width:800px; background-color:#eee; padding:0 0 0 20px; color:#333;}

#tablebox2_sti {width: 1200px; height: 30px;}

#tablebox2 {width: 1000px; height: 850px; margin: 10px auto 0px; display: block; border-top: 1px solid #ddd;}
#tablebox2 > h4 {text-align: left; margin: 40px 0 0 0; font-size: 35px;}
#tablebox2 > table {display: block; margin: 10px 0 0 0; line-height: 30px;}
#tablebox2 > table th {font-size: 14px; text-align: left; width: 200px; padding: 0 0 0 20px; background-color: #ddd;}
#tablebox2 > table td {font-size:14px; text-align:left; width:700px; background-color:#eee; padding:0 0 0 20px; color:#333;}

#review_sti {width: 1000px; height: 40px;margin: 0 auto; border-style: solid none none none; border-color: #ddd; border-width: thin;}

#review {width:1200px; height:400px; margin:50px auto 0;}
#review > h4 {text-align: left; margin: 40px 0 0 0; font-size: 35px;}
#review_tablebox table th {width:80px; border-bottom:1px solid #eee; color:#333}
#review_tablebox table td:first-of-type {width:770px; border-bottom:1px solid #eee;}
#review_tablebox table td:first-of-type > a {color:#333;}
#review_tablebox table td:nth-of-type(2) {width:80px; text-align:center; border-bottom:1px solid #eee;}
#review_tablebox table td:nth-of-type(3) {width:120px; text-align:center; border-bottom:1px solid #eee;}
#review_tablebox table td:last-of-type {width:150px; text-align:center; border-bottom:1px solid #eee;}
#review > #review_tablebox > button {float:right; margin:25px 0px; width:120px; height:30px; color:#fff; font-size:12px; background-color:#1d0966; border:1px solid #ddd;}
#review > #review_tablebox > button:hover {cursor:pointer;}
#review > #review_tablebox > table {display:inline-block; margin:0px auto; border-top:1px solid #333; line-height:50px; width:1200px; font-size:13px; color:#333;}

#inquiry_sti {width: 1200px; height: 20px;}

#inquiry {width:1200px; height:400px; margin:100px auto;}
#inquiry > h4 {text-align: left; margin: 40px 0 0 0; font-size: 35px;}
#inquiry_tablebox table th {width:80px; border-bottom:1px solid #eee; color:#333}
#inquiry_tablebox table td:first-of-type {width:770px; border-bottom:1px solid #eee;}
#inquiry_tablebox table td:first-of-type > a {color:#333;}
#inquiry_tablebox table td:nth-of-type(2) {width:80px; text-align:center; border-bottom:1px solid #eee;}
#inquiry_tablebox table td:nth-of-type(3) {width:120px; text-align:center; border-bottom:1px solid #eee;}
#inquiry_tablebox table td:last-of-type {width:150px; text-align:center; border-bottom:1px solid #eee;}
#inquiry > #inquiry_tablebox {width:1200px; height:450px; margin:0 auto; text-align:center;}
#inquiry > #inquiry_tablebox > button {float:right; margin:25px 0px; width:120px; height:30px; color:#fff; font-size:12px; background-color:#1d0966; border:1px solid #ddd;}
#inquiry > #inquiry_tablebox > button:hover {cursor:pointer;}
#inquiry > #inquiry_tablebox > table {display:inline-block; margin:0px auto; border-top:1px solid #333; line-height:50px; width:1200px; font-size:13px; color:#333;}

/* <여기서부터는 별점> */
.rate { display: inline-block;border: 0; margin: -3px 0 0 10px;}
.rate > input {display: none;}
.rate > label {float: right;color: #ddd}
.rate > label:before {display: inline-block;font-size: 1rem;padding: .3rem .2rem;margin: 0;cursor: pointer;font-family: FontAwesome;content: "\f005 ";}
.rate .half:before {content: "\f089 "; position: absolute;padding-right: 0;}
.rate input:checked ~ label, 
.rate label:hover,.rate label:hover ~ label { color: gold !important;  } 
.rate input:checked + .rate label:hover,
.rate input input:checked ~ label:hover,
.rate input:checked ~ .rate label:hover ~ label,  
.rate label:hover ~ input:checked ~ label { color: gold !important;  }